<footer class="footer">
    <script>
        function colorSwitcher() {
            var elementById = document.getElementById("body");
            if (elementById.attributes['a'].value === 'light') {
                elementById.attributes['a'].value = 'dark';
            } else {
                elementById.attributes['a'].value = 'light';
            }
        };
    </script>
    <span>
        <img alt="Dark Badge (micro)" src="https://www.codewars.com/users/inlag333/badges/micro">
    </span>
</footer>