<script>
    const colorScheme = "colorScheme";
    if (localStorage.getItem(colorScheme) === null) {
        localStorage.setItem(
            colorScheme,
            document.getElementById("body").attributes['a'].value,
        );
    } else {
        let elementById = document.getElementById("body");
        elementById.attributes['a'].value = localStorage.getItem(colorScheme);
    }

    function colorSwitcher() {
        let elementById = document.getElementById("body");
        if (elementById.attributes['a'].value === 'light') {
            elementById.attributes['a'].value = 'dark';
            localStorage.setItem(colorScheme, 'dark');
        } else {
            elementById.attributes['a'].value = 'light';
            localStorage.setItem(colorScheme, 'light');
        }
    };
</script>